.hero-container {
    background: url("../../Assets/Images/little_witch_hero.jpg") center center/cover no-repeat;
    background-color: theme('colors.dark-grey');
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.hero-text {
    margin-top: 20vh;
}